<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="HCIS_Db" connectionString="Data Source=.;Initial Catalog=HCIS_BE;Integrated Security=True"  providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings configSource="HCIS.config"/>
</configuration>